body {
    background-color: #F7F7F7 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex {
    display: flex;

}

.container {
    /* background-color: #F7F7F7 !important; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quizcard {
    width: 30rem;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.quizanswercard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.menulogo {
    height: 110px;
    width: 110px;
}

.small {
    font-size: 10px;
}

.pt-sans {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

.rubik {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
}

.start-body {
    height: 50vh;
    background-image: url(QuizappBlue/bgb.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.quizanswercard {
    flex-direction: row !important;
    align-items: center;
}

.letterbox {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-left: 5%;
}

.bg-ligtblue {
    background-color: #F4EDFF;
}

.bg-beige {
    background-color: #F7F7F7;
}

.bg-grey {
    background-color: rgb(192, 191, 191);
}

.bg-darkgreen {
    background-color: rgb(13, 222, 13);
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: rgba(19, 235, 19, 0.421) !important;
}

.bg-red {
    background-color: rgba(255, 0, 0, 0.416) !important;
}

.bg-darkred {
    background-color: red !important;
}

.height480 {
    height: 480px !important;
}

.circle {
    border-radius: 50%;
    background-color: #F7D5BB;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.end {
    display: flex;
    justify-content: center;
}

.restartbtn {
    width: 150px;
    background-color: #FF4E0F !important;
    border: none !important;
}

.circle img {
    height: 150px;
}

.text-blue {
    color: blue;
}

@media (max-width:450px) {
    .nospace {
        padding: 0px !important;
        margin: 0px !important;
        
    }
    .quizcard{

        height: 91vh !important;
        margin-top: 60px !important;
    }
}